@page "/MultiRoute"
@page "/MultiPathDemo"
@page "/RouteRoulette"

<PageTitle>Multiple Routes Showcase</PageTitle>

<h1>Multiple Routes Showcase</h1>

<p>
    BlazorStatic supports having multiple routes in a single page, and this page is an example of that.
</p>

<a href="MultiRoute">first route</a> <br />
<a href="MultiPathDemo">second route</a> <br />
<a href="RouteRoulette">third route</a> <br />

<h1>Where can this be useful?</h1>

<p>
    It can be used for route based localization, for example <code>/en/blogs</code>
</p>
